body {
  background: #ececec !important;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.student-form {
  margin: 50px auto;
  width: 50%;
  position: relative;
  background-color: white;
  padding: 40px 22px;
  border-radius: 10px;
  min-height: 38vh;
}
.overlay {
  position: absolute;
  height: 100%;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: white;
  display: flex;
}
.navbar {
  background-color: white;
  padding: 20px;
}

.question {
  text-align: left;
}
